@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto:wght@100..900&display=swap');
#root {

  --font-Padrao: 'Roboto', sans-serif;
  --font-Arredondada: 'Fredoka', sans-serif;
  --verde-Padrão:#1FA68D;
  --azul-Escuro: #00394F;
  --cinza-Padrao: #6C6C6C;
  --vermelho: red;
  --branco: #ffff;
}

  html, body {
    overflow-x: hidden;
    width: 100%;
  
  }





