:root{
    --verde-padrão: #1FA68D;
}


header{
   display: flex;
   flex-direction: column;
   width: 100vw;
    height: 75px;
   position:sticky;
    z-index: 1;
}
header .containerHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 45px;
    background-color: var(--verde-padrão);
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
    height: 4rem;
}
.sidebarMenuMobile{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navMenuDesktop{
    display: none;
}
.logoGrande{
    display: none;
}
header nav .matricula{
    display: none;
}

@media (min-width: 1024px) and (max-width:1439px) {
    .logoGrande{
        display: block;
    }
    .logoPequena{
        display: none;
    }
  
     header{
        height: 95px;
     }
    .navBar{
        justify-content:space-evenly;
        height: 4rem;
        
    }
    div .navMenuDesktop{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navMenuDesktop .navBarUl{
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
        margin: 0;
        
        }
    .navMenuDesktop .navBarUl li{
        
        padding: 1rem;
    }
     .navMenuDesktop ul li a{ /*A tag 'a' representa a tag Link* */
        text-transform: uppercase;
        text-decoration: none;
        color:  #0F4A3F;
        font-weight: bold;

    }
    .navMenuDesktop ul li a:hover{ 
        color:  #2bbea3;}
   

    header nav .matricula{
        display: block;
       
    }
    .sidebarMenuMobile{
        display: none;
    }

    header nav ul {
        flex-direction: row;
    }
   
    

}
@media (min-width:1440px){
    header .containerHeader{
        height: 65px;
    }
.bordaSuperior{
    top:70px;
}

    .logoGrande{
        display: block;
        width: 100px;
    }
    .logoPequena{
        display: none;
    }
  
     header{
        height: 200px;
        
     }
    .navBar{
        justify-content:space-evenly;
        height: 4rem;
        position: relative;
        top: 45px;
        
    }
    div .navMenuDesktop{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navMenuDesktop .navBarUl{
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
        margin: 0;
        
        }
    .navMenuDesktop .navBarUl li{
        
        padding: 1rem;
        margin: 0 1.8rem;
    }
     .navMenuDesktop ul li a{ /*A tag 'a' representa a tag Link* */
        text-transform: uppercase;
        text-decoration: none;
        color:  #0F4A3F;
        font-weight: bold;
        font-size: 1.3rem;

    }
    .navMenuDesktop ul li a:hover{ 
        color:  #2bbea3;}
   

    header nav .matricula{
        display: block;
        
    }
    header nav .matricula img{
        width: 200px;
    }
    .sidebarMenuMobile{
        display: none;
    }

    header nav ul {
        flex-direction: row;
    }
   
    
}